@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* Disable input outlining globally */
input:focus, button:focus {
  box-shadow: none !important;
  outline: none !important;
}