@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* Disable input outlining globally */
input:focus, button:focus {
  box-shadow: none !important;
  outline: none !important;
}

/* Make rounded borders for modals */
.vm--modal.modal {
  border-radius: 22px;
}

.form-radio {
  @apply w-6 h-6;
}

.form-checkbox {
  @apply w-6 h-6;
}

.search-input {
  @apply px-10;
  background: url('./search-icon.svg') no-repeat 12px;
} 

.button {
  @apply block px-4 py-2 font-semibold text-lg text-gray-700 border-gray-500 uppercase;
}

.button:hover {
  @apply bg-gray-200;
}

.button-primary {
  @apply bg-blue-500 text-white;
}

.button-primary:hover {
  @apply bg-blue-400;
}

.button-outline-primary {
  @apply border border-blue-500 text-blue-500;
}

.button-outline-primary:hover {
  @apply bg-blue-500 text-white;
}
